USE [BIIFDBPROD2]
GO
/****** Object:  StoredProcedure [dbo].[sp_QueMIF_CancelTicket]    Script Date: 30/01/2026 16:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_QueMIF_CancelTicket]
    @TicketID INT,
    @Note VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Note IS NULL OR LTRIM(RTRIM(@Note)) = ''
    BEGIN
        THROW 50030, 'Cancel reason is required', 1;
    END

    IF NOT EXISTS (
        SELECT 1
        FROM QueMIF_Tickets
        WHERE TicketID = @TicketID
    )
    BEGIN
        THROW 50031, 'Ticket not found', 1;
    END

	IF NOT EXISTS (
        SELECT 1
        FROM QueMIF_Tickets
        WHERE TicketID = @TicketID
          AND Status = 'ON SERVE'
    )
    BEGIN
        THROW 50041, 'Ticket is not being served', 1;
    END

	INSERT INTO QueMIF_TicketsSettlement(
		TicketID, 
		Result,
		UserID, 
		CounterID, 
		Note, 
		CreatedAt, 
		ServiceDuration, 
		HoldDuration,
		BranchID
		)
	 SELECT
        TicketID,
        'CANCELED',
        ServedByUserID,
        CurrentCounterID,
        NULL,
        GETDATE(),
        DATEDIFF(SECOND, StartedAt, GETDATE()),
        ISNULL(TotalHoldDuration, 0),
		BranchID
    FROM QueMIF_Tickets
    WHERE TicketID = @TicketID;

    UPDATE QueMIF_Tickets
    SET
        Status = 'CANCELED',
        Note = @Note,
        FinishedAt = GETDATE(),
        CurrentCounterID = NULL,
        ServedByUserID = NULL,
        HoldAt = NULL
    WHERE TicketID = @TicketID;

    SELECT @@ROWCOUNT AS Affected;
END
