USE [BIIFDBPROD2]
GO
/****** Object:  StoredProcedure [dbo].[sp_QueMIF_CallTicket]    Script Date: 02/02/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_QueMIF_CallTicket]
    @TicketID INT,
    @CounterID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM QueMIF_Tickets
        WHERE TicketID = @TicketID
    )
    BEGIN
        THROW 50040, 'Ticket not found', 1;
    END

    UPDATE QueMIF_Tickets
    SET
        Status = 'CALLING',
        CurrentCounterID = @CounterID,
        CalledAt = GETDATE()
    WHERE TicketID = @TicketID;

    SELECT *
    FROM QueMIF_Tickets
    WHERE TicketID = @TicketID;
END
GO
